<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up!</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
    <form action="signup.html" method="POST"">
        <label for="uname" >Username (at least 5 chars): </label>
        <input type="text" name="uname" minlength="5">
        <label for="pass">Password (at least 5 chars): </label>
        <input type="password" name="pass" minlength="5">
        <label for="pass">Email: </label>
        <input type="email" name="email">
        <input type="submit" value="Submit!">
    </form>
</body>
</html>